h1, h3{
	text-align:center;
	margin: 20px auto ;
	padding: 0;
	} 
	
h2 {
	text-align:center;
	margin: 50px auto;
	padding: 0;
}

p {
    text-align:center;
	margin: 0 0 1em 0;
	font-size: 94%;
}

img {
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

body{
	line-height: 1.5;
}


a{
	text-decoration: none;}
		
}

/* Header */

header {
	max-width: 1400px;
	
	margin: 10px auto 10px auto;
	
}

nav {
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
    text-align: center;
    margin: 0 auto;
}

ul {
	
	display: flex;

}

ul li{
	flx:1;
	display: inline;
	font-weight:bold;
	font-size: 50%;
}

li a:link, li a:visited {
	text-align:center;
	margin: 1px 1px;
	padding: 25px 20px;
	height: 20px;
	color:#fff0f5;
}


li a:hover,  li a:active,  li .active a:link, li .active a:visited{
	color: #000000;
	background-color:#fff0f5;
}

/* content */

.content {  
	max-width: 1400px;	
	margin: 5% 5%;
	background-color:#fff0f5;
}

.welcome{
	border-style: solid;
	border-color:#000000;
	background-color:#fff0f5;
	text-align:center;
}

.maincontent{
	margin: 5% 5%;
}


/* footer */

div.footer {
	background-color: #fff;
	padding: 30px 0;
	text-align: center;
}