h1, h3{
	text-align:center;
	margin: 20px auto ;
	padding: 0;
	} 
	
h2 {
	text-align:center;
	margin: 50px auto;
	padding: 0;
}

p {
    text-align:center;
	margin: 0 0 1em 0;
	font-size: 94%;
}

img {
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

body{
	line-height: 1.5;
}


a{
	text-decoration: none;}
		
}

/* Header */

.header {
	max-width: 1400px;
	
	margin: 40px auto 40px auto;

}

.welcome{
	border-style: solid;
	border-color:#000000;
	background-color:#FFFFFF;
	text-align:center;
}

.navbar{
	border-style: solid;
	border-color:#fff0f5;
	background-color: #fff0f5;
	text-align:center;

}

.nav {
	display: flex;
}



.nav li{
	flex:1;
	display: inline;
	font-weight:bold;
}


.nav a:link, .nav a:visited {
	text-align:center;
	padding: 10px 20px;
	height: 1.5em;
	color:#000000;
}


.nav a:hover,.nav a:active, .nav .active a:link, .nav .active a:visited{
	color: #FFFFFF;
	background-color:#000000;
}

/* content */

.content {  
	max-width: 1400px;	
	padding: 20px 0;  
	background-color:#fff0f5;
}


.maincontent {
	margin: 0 20%;
}


/* footer */

div.footer {
	background-color: #fff;
	padding: 30px 0;
	text-align: center;
}