h1, h2, h3 {
	text-align:center;
	margin: 0;
	padding: 0;
	font-size: 2em;
}

p {
	margin: 0 0 1em 0;
	font-size: 94%;
}

img {
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

/* Section Inner */
.section-inner {
	max-width: 1100px;
	padding: 0 25px;
	margin: 0 auto;
}

body{
	font-size: 100%;
	font-family: Arial;
	line-height: 1.5;
	text-align: left;
	background-color:#fff;
}

a{
	text-decoration: none;}

 

/* Header */

.header {
	background-color: #fff;
	padding: 40px 0;
}

.header .navbar {
	left:50%;
	margin-left:-275px;
    position:relative;
    margin-bottom: 10%;
}

.header .nav li{
	float: left;
	display: inline;
	font-weight:bold;
	padding: 1.5em;
}


.nav a:link, .nav a:visited {
	text-align:center;
	margin-left: 2px;
	padding: 0 25px;
	height: 1.5em;
	color:#000000;
}


.header .nav a:hover,.header .nav a:active, .header .nav .active a:link, .header .nav .active a:visited{
	color: #FFFFFF;
	background-color:#000000;
}

/* content */

.content {  
	padding: 50px 0;  
	background-color:#fff0f5;

}


.picture {
	margin: 0 auto;
	height: 50%;
	width: 50%;
}


/* footer */

div.footer {
	background-color: #fff;
	padding: 15px 0;
	text-align: center;
}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }