body{
	font-size: 100%;
	font-family: Arial;
	line-height: 1.5;
	text-align: left;
	
.}

a{
	text-decoration: none;}

.body{
	background-color:#fff0f5;
	margin: 0 auto;
	width: 80%;
	clear: both;
}

/* Header */



.header {
	border-style: double;
    border-width: 5px;
    height: 60px;
	width:100%;
}

.header .logo{
	background-color:#000000;
	height: 40px;
	width: 40px;
	float:left;
	margin: 10px 10px;
	
}

.header .logo h1{
	text-align: center;
	margin: 0 auto;
 	color:#FFFFFF; 

}

.header .navbar{
	float:right;
}


.header .nav{
	margin: 0 auto;
	/*text-align: center;*/
	width:100%;	
	
}

.header .nav li{
	
	float: left;
	display: inline;
	font-weight:bold;
	padding: 1.5em;
}


.header .nav a:link, .header .nav a:visited {
	text-align:center;
	margin-left: 2px;
	padding: 0 25px;
	height: 1.5em;
	color:#000000;
}


.header .nav a:hover, .header .nav a:active, .header .nav .active a:link, .header .nav .active a:visited{
	color: #FFFFFF;
	background-color:#000000;
}


/* content */

.content {
	
	width: 100%;
	overflow: auto;	
	padding: 25px 25px;

	margin: 0 auto;
}


/* footer */

.footer{
	text-align:center;
	width:100%;	
	overflow: auto;

	margin: 0 auto;
	
}
