h1, h2, h3 {
	text-align:center;
	margin: 0;
	padding: 0;
	font-size: 2em;
}

p {
	text-align:center;
	margin: 0 0 1em 0;
	font-size: 94%;
}

img {
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

body{
	font-size: 100%;
	font-family: Arial;
	line-height: 1.5;
	text-align: left;
	background-color:#fff0f5;
}

a{
	text-decoration: none;}


/* Header */

.header {
	max-width: 1400px;
	
	margin: 10px auto 10px auto;
	
}

.navbar {

	border-style: double;
    border-width: 5px;
}
.nav{
	display: flex;
	justify-content: center;
}

.nav li{
	flex:1;
	display: inline;
	font-weight:bold;
}

.header .nav a:link, .header .nav a:visited {
	margin-left: 2px;
	padding: 4% 33%;
	height: 1.5em;
	color:#000000;
}


.header .nav a:hover, .header .nav a:active, .header .nav .active a:link, .header .nav .active a:visited{
	color: #FFFFFF;
	background-color:#000000;
}


/* content */
.content {  
	max-width: 1400px;	
	margin: 10px auto 10px auto;
}

.maincontent {
	margin: 0 auto;
}

/* element on the left */
.left{
	padding: 20px;
	flex-basis: 20%;

}

/* element on the right */
.right{
	padding: 20px;
	
	flex-basis: 80%;
}


/* Info-box */
.info-box-a {
	background-color: #fff;
	padding: 50px;
	font-size: 13px;
	margin: 0 0 15px 0;
}

.info-box-b {
	background-color: #fff;
	padding: 50px;
	font-size: 13px;
	margin: 0 0 15px 0;
}


/* footer */
div.footer {
	background-color: #fff;
	padding: 30px 0;
	text-align: center;
}


.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }
